/*Style Sheet for grocerylist. Maintained by Alan Webb knogeek2@gmail.com */

/*Default body text formatting*/
body {
    background-color:white;
    margin: auto;
    position: relative;
    width: 100%;
    font-family: sans-serif;
    text-align: left;
}

/*Link hover format*/
a:hover {
    background-color:aliceblue;
    font-weight:bold
}

/*Headings formats*/
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}

h1, .h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2, .h2 {
    background-color:lightgray;
    font-size: 2rem;
    text-align: center;
}

h3, .h3 {
    font-size: 1.75rem;
    text-align: center;
}

h4, .h4 {
    font-size: 1.5rem;
    text-align: center;
}
h5, .h5 {
    font-size: 1.25rem;
    text-align: center;
}

/*Image formats*/
img {
    border-style: none;
    opacity: 1;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    text-align: center;
}


/* Centered */
center, .center {
    text-align: center;
    justify-content:center
}
